.navbar {
    background-color: #7b90e0;
    color: white;
    min-height: 100px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 30px 10px 0 10px;
}

.navbar-btn {
    color: white !important;
    font-size: 20px;
}

.selected{
    font-weight: bold;
}

.navbar-btn-group {
    float: right !important;
}