<!-- Modal content-->
<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close" ng-click="$parent.$ctrl.close()">&times;</button>
    <h4 class="modal-title">Make your booking</h4>
    <p class="modal-subtitle">SELECT TIME</p>
  </div>

  <div class="modal-body">
    <day-picker-component availability="$parent.$ctrl.service.availability" selected="$parent.$ctrl.selectedDate"></day-picker-component>
    <div class="row" >
      <div class="col-md-6">
        <button type="button" class="btn default-button form-control" ng-click="$parent.$ctrl.step=1">Back</button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn default-button form-control" ng-click="$parent.$ctrl.sendBooking()" ng-disabled="!$parent.$ctrl.selectedDate">Send booking</button>
      </div>
    </div>
  </div>

</div>
