<!-- Modal content-->
<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Make your booking</h4>
    <p class="modal-subtitle">PERSONAL DETAILS</p>
  </div>

  <div class="modal-body">
    <day-picker-component></day-picker-component>
    <div class="row">
      <div class="col-md-6">
        <button class="btn default-button form-control" ng-click="$ctrl.changeStep({val:1})">Back</button>
      </div>
      <div class="col-md-6">
        <button class="btn default-button form-control" ng-click="$ctrl.changeStep({val:3})">Send booking</button>
      </div>
    </div>
  </div>

</div>
