#new-service-button-container {
    float: right;
    font-size: 18px;
    margin: 40px 0 30px 0;
}

.new-service-btn {
    background-color: #c97de5;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 40px;
    margin-bottom: 10px;
    outline-style: none;
}

.new-service-btn: focus{
  outline: none;
}

.services-list {
    width: 758px;
    padding: 0;
    margin-top: 30px;
}

.default-background {
    background-color: #fcfcfc;
}

.sv-descr {
    height: 168px !important;
}

.form-control {
    height: 55px;
    font-size: 20px;
}

.company-profile-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.default-button {
    background-color: #cb7de6;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    outline: none;
}

.default-button:hover {
    background-color: #e391ff;
    color: white;
}

.default-button:active {
    background-color: #9e63ba;
    color: white;
}

.default-button:focus {
    outline: none;
    color: white;
}

.form-group {
    margin-bottom: 25px;
}

label {
    font-weight: 500;
    font-size: 20px;
}

.clean-button{
  background-color: transparent;
  color: #afafaf;
  border: none;
  outline: none;
}

.clean-button:hover{
  color: black;
}

.clean-button:active{
  color: #c97de5;
}
