#new-service-button-container {
    float: right;
    font-size: 18px;
    margin: 40px 0 30px 0;
}

.new-service-btn {
    background-color: #c97de5;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 40px;
    margin-bottom: 10px;
    outline-style: none;
}

.new-service-btn:focus{
  outline: none;
}

.services-list {
    width: 758px;
    padding: 0;
    margin-top: 30px;
}

.default-background {
    background-color: #fcfcfc;
}

#sv-descr {
    height: 150px;
}

.form-control {
    height: 55px;
    font-size: 20px;
}

.profile-view {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 20px !important;
    font-weight: normal !important;
}

.profile-logo-img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.company-profile-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.default-button {
    background-color: #cb7de6;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    outline: none;
}

.default-button:hover {
    background-color: #e391ff;
    color: white;
}

.default-button:active {
    background-color: #9e63ba;
    color: white;
}

.default-button:focus {
    outline: none;
    color: white;
}

.login-container {
    width: 500px;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
}

.login-form {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-top: 85px;
}

.login-form input.ng-invalid {
  border: 1px solid red;
}

.login-form input.ng-pristine {
  border: 1px solid #ccc;
}

.login-component {
    height: 50px;
    margin-top: 10px;
}

.modal {
    margin-top: 150px;
}

.modal-lg {
    width: 1000px;
}

.modal-header {
    text-align: center;
    border: none;
    padding-top: 5px;
    padding-right: 8px;
}

.modal-title {
    font-size: 30px;
    color: #cb7de6;
    font-weight: bolder;
    padding-top: 40px;
}

.modal-subtitle {
    font-size: 14px !important;
    color: #afafaf;
}

.modal-body {
    font-size: 20px;
    font-weight: normal !important;
    padding: 40px 150px 80px 150px;
}

.form-group {
    margin-bottom: 25px;
}

label {
    font-weight: 500;
}

.clean-button{
  background-color: transparent;
  color: #afafaf;
  border: none;
  outline: none;
}

.clean-button:hover{
  color: black;
}

.clean-button:active{
  color: #c97de5;
}

.day-picker-table {
  border: 1px solid #cfcfcf;
  /*padding: 20px;*/
  font-size: 20px;
  color: #777777;
}

.day-picker-table tr td{
  width: 70px;
  height: 30px;
  text-align: center;
}

.day-picker-table tr th{
  width: 70px;
  height: 30px;
  text-align: center;
}

.clk{
  color: #cb7de6;
}
