<div class="jumbotron">

  <h2 style="margin-top: 0">
    <div class="row" style="margin: 0">
      <div class="col-md-6 service-card-title">{{$ctrl.serviceItem.name}}</div>
      <div class="col-m-6 options-buttons" align="right" ng-show="{{$ctrl.loggedIn}}">
        <button class="clean-button" ng-click="$ctrl.editService($ctrl.serviceItem)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button class="clean-button" ng-click="$ctrl.deleteService($ctrl.serviceItem)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </div>
    </div>
  </h2>


  <a href="#/company"
     class="service-logo"
     ng-hide="{{$ctrl.loggedIn}}">
    <img ng-src="{{$ctrl.serviceItem.logo}}" class="service-logo-img">
    <h4>{{$ctrl.serviceItem.company}}</h4>
  </a>

  <div class="service-card-description">{{$ctrl.serviceItem.description}}</div>

  <div class="row service-card-data">
    <div class="col-md-4">
      <dt>{{$ctrl.serviceItem.workingHours[0]}}:00 - {{$ctrl.serviceItem.workingHours[0]+$ctrl.serviceItem.workingHours[1]}}:00</dt>
      <dd>Availability</dd>
    </div>
    <div class="col-md-3">
      <dt>{{$ctrl.serviceItem.spaces}}</dt>
      <dd>Spaces</dd>
    </div>
    <div class="col-md-3">
      <dt>{{$ctrl.serviceItem.duration}}</dt>
      <dd>Duration</dd>
    </div>
    <div class="col-md-2">
      <dt>{{$ctrl.serviceItem.price | currency}}</dt>
      <dd>Price</dd>
    </div>
  </div>

  <button type="button"
          class="btn default-button "
          data-toggle="modal"
          data-target="#myModal"
          ng-hide="{{$ctrl.loggedIn}}">BOOK NOW</button>
  <default-modal-component></default-modal-component>
</div>
