<div class="jumbotron">

  <h2 style="margin-top: 0">
    <div class="row" style="margin: 0">
      <div class="col-md-6 service-card-title">{{$ctrl.service.name}}</div>
      <div class="col-m-6 options-buttons" align="right" ng-show="{{$ctrl.loggedIn}}">
        <button class="clean-button" ng-click="$parent.$ctrl.editService($ctrl.service._id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button class="clean-button" ng-click="$parent.$ctrl.deleteService($ctrl.service._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </div>
    </div>
  </h2>


  <a href="#/company/{{$ctrl.service.userId}}"
     class="service-logo"
     ng-hide="{{$ctrl.loggedIn || $ctrl.companyProfile}}">
    <img ng-src="{{$ctrl.service.logo}}" class="service-logo-img">
    <h4 style="padding-left: 10px">{{$ctrl.service.company}}</h4>
  </a>

  <div class="service-card-description">{{$ctrl.service.description}}</div>

  <div class="row service-card-data">
    <div class="col-md-3">
      <dt>{{$ctrl.service.available}}</dt>
      <dd>Availability</dd>
    </div>
    <div class="col-md-3">
      <dt>{{$ctrl.service.spaces}}</dt>
      <dd>Spaces</dd>
    </div>
    <div class="col-md-3">
      <dt>{{$ctrl.duration}}</dt>
      <dd>Duration</dd>
    </div>
    <div class="col-md-3">
      <dt>{{$ctrl.service.price | currency: 'RON '}}</dt>
      <dd>Price</dd>
    </div>
  </div>

  <button type="button"
          class="btn default-button"
          data-target="#modal_{{$ctrl.service._id}}"
          ng-hide="{{$ctrl.loggedIn}}"
          data-toggle="modal">BOOK NOW</button>
  <modal-container-component service="$ctrl.service"></modal-container-component>
</div>
