<div class="profile-view">
  <div class="row">
    <div class="col-md-6" align="center">
      <a href="">
        <img class="profile-logo-img" ng-src="{{$ctrl.logoImg}}" alt="">
      </a>
      <p>
        Upload logo <br> <small style="color: #afafaf">(max. 140x140 px)</small>
      </p>
    </div>
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label>Company name</label>
          <input class="form-control" type="text" ng-model="$ctrl.company.name">
        </div>
        <div class="form-group">
          <label>Company description</label>
          <textarea class="form-control" name="name" rows="4" ng-model="$ctrl.company.description"></textarea>
        </div>
        <div class="form-group">
          <label>Working Hours</label>
          <div class="row">
            <div class="col-sm-6">
              <input type="number" class="form-control" ng-model="$ctrl.company.workingHours.start">
            </div>
            <div class="col-sm-6">
              <input type="number" class="form-control" ng-model="$ctrl.company.workingHours.end">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <button class="btn form-control default-button" ng-click="$ctrl.signOut()">Sign Out</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <button class="btn form-control default-button" ng-click="$ctrl.saveSettings()">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
