<div class="profile-view">
  <div class="row">
    <div class="col-md-6" align="center">
      <a href="">
        <img class="profile-logo-img" ng-src="{{$ctrl.company.logo}}" alt="">
      </a>
      <p>
        Upload logo <br> <small style="color: #afafaf">(max. 140x140 px)</small>
      </p>
    </div>
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label>Company name</label>
          <input class="form-control" type="text" ng-model="$ctrl.company.name">
        </div>
        <div class="form-group">
          <label>Company description</label>
          <textarea class="form-control" name="name" rows="4" ng-model="$ctrl.company.description"></textarea>
        </div>
        <div class="form-group">
          <label>Working Hours</label>
          <div class="row">
            <div class="col-sm-6">
              <input type="number" class="form-control" ng-model="$ctrl.company.workingHours.start">
            </div>
            <div class="col-sm-6">
              <input type="number" class="form-control" ng-model="$ctrl.company.workingHours.end">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Working Days</label>
          <div class="row">
            <div class="col-sm-6">
              <label>
                <input type="checkbox" ng-model="$ctrl.company.workingDays[0]"> <span class="label-text">Monday</span>
              </label>
              <label>
                <input type="checkbox" ng-model="$ctrl.company.workingDays[1]"> <span class="label-text">Tuesday</span>
              </label>
              <label>
                <input type="checkbox" ng-model="$ctrl.company.workingDays[2]"> <span class="label-text">Wednesday</span>
              </label>
              <label>
                <input type="checkbox" ng-model="$ctrl.company.workingDays[3]"> <span class="label-text">Thursday</span>
              </label>
            </div>
            <div class="col-sm-6">
              <label>
                <input type="checkbox" ng-model="$ctrl.company.workingDays[4]"> <span class="label-text">Friday</span>
              </label>
              <label>
                <input type="checkbox" ng-model="$ctrl.company.workingDays[5]"> <span class="label-text">Saturday</span>
              </label>
              <label>
                <input type="checkbox" ng-model="$ctrl.company.workingDays[6]"> <span class="label-text">Sunday</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <button type="button" class="btn form-control default-button" ng-click="$ctrl.signOut()">Sign Out</button>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <button type="button" class="btn form-control default-button" ng-click="$ctrl.saveSettings()">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
