<div class="login-container" align="center">
  <a href="#/"><img src="../../../Public/assets/app-logo.png" alt=""></a>

  <form class="login-form" name="loginForm">
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" type="email" ng-model="$ctrl.credentials.email" required>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control" type="password" ng-model="$ctrl.credentials.password" required>
    </div>
    <div class="form-group">
      <button class="btn form-control default-button auth-button" ng-click="$ctrl.verifyCompany()" ng-disabled="!loginForm.$valid">LOGIN</button>
    </div>
  </form>

  <label>
    <a href="#/recover">Recover Password</a>
  </label>
</div>
