<div class="container-fluid default-background">


  <!--FILTERS FORM-->
  <div class="bookings-list">
    <form action="#">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <select class="form-control" ng-model="service">
              <option value="">All services</option>
              <option ng-repeat="service in $ctrl.services">{{service}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input placeholder="Select Week" ng-model="period" class="form-control" id="sv-select-wk">
          </div>
        </div>
      </div>
    </form>
  </div>


  <!-- BOOKINGS LIST -->
  <table class="table table-striped bookings-list">
  <thead class="booking-list-titles">
    <tr>
      <th ng-click="$ctrl.sortBy('name')"> Name
        <i class="fa" ng-show="$ctrl.orderProp ==='name'" ng-class="{'fa-chevron-down': !$ctrl.reverseOrder, 'fa-chevron-up': $ctrl.reverseOrder}"></i>
      </th>
      <th ng-click="$ctrl.sortBy('email')">Email
        <i class="fa" ng-show="$ctrl.orderProp ==='email'" ng-class="{'fa-chevron-down': !$ctrl.reverseOrder, 'fa-chevron-up': $ctrl.reverseOrder}"></i>
      </th>
      <th ng-click="$ctrl.sortBy('phone')">Phone Number
        <i class="fa" ng-show="$ctrl.orderProp ==='phone'" ng-class="{'fa-chevron-down': !$ctrl.reverseOrder, 'fa-chevron-up': $ctrl.reverseOrder}"></i>
      </th>
      <th ng-click="$ctrl.sortBy('time')">Time
        <i class="fa" ng-show="$ctrl.orderProp ==='time'" ng-class="{'fa-chevron-down': !$ctrl.reverseOrder, 'fa-chevron-up': $ctrl.reverseOrder}"></i>
      </th>
      <th ng-click="$ctrl.sortBy('serviceName')">Service name
        <i class="fa" ng-show="$ctrl.orderProp ==='serviceName'" ng-class="{'fa-chevron-down': !$ctrl.reverseOrder, 'fa-chevron-up': $ctrl.reverseOrder}"></i>
      </th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="booking in $ctrl.bookings | filter: service | orderBy:$ctrl.orderProp:$ctrl.reverseOrder">
        <td>{{booking.name}}</td>
        <td>{{booking.email}}</td>
        <td>{{booking.phone}}</td>
        <td>{{booking.time | date:'EEE d.MM, H:mm'}}</td>
        <td>{{booking.serviceName}}</td>
      </tr>
    </tbody>
  </table>

</div>
