.booking-list-titles tr th {
  color: #c97de5;
  font-size: 20px;
  font-weight: normal !important;
  cursor: pointer;
}

.bookings-list {
    max-width: 1000px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.bookings-list tbody {
    display:block;
    overflow:auto;
}

.bookings-list thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.bookings-list tr td {
  overflow: hidden;
  text-overflow: ellipsis;
}
