<div class="container-fluid default-background">


  <!--FILTERS FORM-->
  <div class="bookings-list">
    <form action="#">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <select class="form-control" ng-model="service">
              <option value="">All services</option>
              <option ng-repeat="service in $ctrl.services">{{service}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <week-selector-component></week-selector-component>
          </div>
        </div>
      </div>
    </form>
  </div>


  <!-- BOOKINGS LIST -->
  <table class="table bookings-list">
  <thead class="booking-list-titles">
    <tr>
      <th ng-click="$ctrl.sortBy('name')" style="width: 18%"> Name
        <i class="fa" ng-show="$ctrl.orderProp ==='name'" ng-class="$ctrl.arrowClass()"></i>
      </th>
      <th ng-click="$ctrl.sortBy('email')" style="width: 30%">Email
        <i class="fa" ng-show="$ctrl.orderProp ==='email'" ng-class="$ctrl.arrowClass()"></i>
      </th>
      <th ng-click="$ctrl.sortBy('phone')" style="width: 18%">Phone
        <i class="fa" ng-show="$ctrl.orderProp ==='phone'" ng-class="$ctrl.arrowClass()"></i>
      </th>
      <th ng-click="$ctrl.sortBy('time')" style="width: 16%">Time
        <i class="fa" ng-show="$ctrl.orderProp ==='time'" ng-class="$ctrl.arrowClass()"></i>
      </th>
      <th ng-click="$ctrl.sortBy('serviceName')" style="width: 18%">Service
        <i class="fa" ng-show="$ctrl.orderProp ==='serviceName'" ng-class="$ctrl.arrowClass()"></i>
      </th>
    </tr>
  </thead>
  <tbody class="custom-striped-table">
      <tr ng-repeat="booking in $ctrl.bookings | filter: service | orderBy:$ctrl.orderProp:$ctrl.reverseOrder">
        <td style="width: 18%">{{booking.name}}</td>
        <td style="width: 30%">{{booking.email}}</td>
        <td style="width: 17%">{{booking.phone}}</td>
        <td style="width: 17%">{{booking.time | date:'EEE d.MM, H:mm'}}</td>
        <td style="width: 18%">{{booking.serviceName}}</td>
      </tr>
    </tbody>
  </table>

</div>
